.red-message{
    color: red !important;
    font-family: 'Courier New', Courier, monospace;
}
.success-message{
    color: green !important;
    font-family: 'Courier New', Courier, monospace
}

nav .menu-drop::-webkit-scrollbar {
    width: 5px;   
}