{% load cms_tags menu_tags sekizai_tags %}
<nav >
    <div class="navbtn">
        <i class="fa fa-bars"></i>
    </div>
    <div class="brandname">
        <i class="fa fa-music"></i><a href="/">{{site_config.site_name}}</a>
    </div>
    <div class="menu">
        <div class="navmenu">
            <ul class="f-nav">
                {% show_menu 0 10 10 10 "navbar/menu-desktop.html" %}
            </ul>
            <div class="searchbtn">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</nav>

<div class="mobilemenu">
    <ul>
        {% show_menu 0 10 10 10 "navbar/menu-mobile.html" %}
    </ul>
</div>
<div class="search-input">
    <form action="{% url 'search_ringtone' %}" method="GET">
        <input type="text" id="searchInput" name="query" placeholder="Search Ringtone">
        <button id="searchBtn" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>