{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <title>500</title>
</head>

<body>
    <div class="page500">
        <h1>500</h1>
        <p>Internal Server Error!</p>
        <div class="page5back">
            <a class="page5" href="/"> Back To Home page</a>
        </div>
    </div>
</body>
</html>