<div class="container3">
    <div class="about-us">
        <h1>{{about_us.title}}</h1>
        <div class="logo_a">
            <div class="about-logo">
                <i class="fa fa-music"></i>
            </div>
        </div>

        <div class="about-content">
            <h2>{{about_us.subtitle}}</h2>
            <section>{{about_us.content|safe}}</section>
        </div>
        <div style="margin-top: 50px;">
            <a href="/" class="homebtn" style="margin-top:50px;">Back To Home <i class="fa fa-angle-right"
                    aria-hidden="true"></i></a>
        </div>
    </div>
</div>