{% load helping_filter sekizai_tags %} {% addtoblock "category_tag" %} {{ current_category_object.meta_tag|safe }} {% endaddtoblock %} {% if current_category_ringtone %}
<div class="container">
    <div class="ringtone-area">
        {% for ringtone in current_category_ringtone %}
        <div class="ringtone-player" id="categoryReletedRingtone">
            <div class="play-btn">
                <i class="fa fa-play-circle"></i>
                <i class="fa fa-snowflake-o"></i>
                <span class="track">
                    <audio id="audio" controls preload="none">
                        {% if ringtone and ringtone.android_ringtone_file %}
                        <source src="{{ringtone.android_ringtone_file.url}}" type="audio/mpeg">
                        {% elif ringtone and ringtone.iphone_ringtone_file %}
                        <source src="{{ringtone.iphone_ringtone_file.url}}" type="audio/x-m4r">
                        {% endif %}
                    </audio>
                </span>
            </div>
            <div class="ringtone-info">
                <div class="categoryName"><a href="{{ringtone.category.get_public_url}}">{{ringtone.category.name}}</a>
                </div>
                <div class="ringtoneName">
                    <h2><a href="{{ringtone.page.get_public_url}}">{{ringtone.name}}</a></h2>
                </div>
                <div class="download-info"><b>{{ringtone.download_count|number_system}}</b> - Downloads</div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if current_category_ringtone %}
    <div class="loadm">
        <a href="javascript:void(0)" id="loadMoreCategoryReletedRingtone"> Load More</a>
    </div>
    {% endif %}
</div>
{% endif %}