{% load cms_tags menu_tags sekizai_tags static helping_filter %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no"> {% if site_config and site_config.favicon.url %}
    <link rel="shortcut icon" href="{{site_config.favicon.url}}" type="image/x-icon"> {% endif %}

    <!-- ################################################################################################################ -->
    <!-- All meta tag for current site -->
    {% render_block "og_twitter_tag" %} {% include "metatag.html" %} {% render_block "ringtone_tag" %} {% render_block "category_tag" %} {% if seo and seo.home_page_meta_tag and "Home" in request|get_title %}{{seo.home_page_meta_tag|safe}}{% endif %}
    <!-- All meta tag for current site -->
    <!-- ################################################################################################################ -->

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{% if "Home" in request.current_page.get_menu_title %}New Mp3 Ringtones Download Free For Mobile Phones{% else %}{% block title %}{% endblock title %}{% endif %} - {% if site_config %}{{site_config.site_title}}{% endif %}</title>
    {% render_block "css" %} {% if "Home" in request.current_page.get_menu_title %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "RingtoneFly",
            "url": "https://ringtonefly.co",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.ringtonefly.co/search?query={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    {% endif %}{% if site_config and site_config.analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5VLTB1KRR3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site_config.analytics_id}}');
</script>
    {% endif %}
</head>

<body>
    {% cms_toolbar %} {% include "navbar/main.html" %} {% include "brandcamps.html" %} {% block content %} {% endblock content %} {% include "footer.html" %} {% render_block "js" %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'all.js' %}"></script>
    <script src="{% static 'load.js' %}"></script>   
    <script src="{% static 'audio.js' %}"></script>
    <script>
        document.getElementById("captchaFrom").addEventListener("submit",function(event){
            var response = grecaptcha.getResponse();
            if(response.length == 0) { 
                //reCaptcha not verified
                alert("please verify you are humann!"); 
                event.preventDefault();
                return false;
            }
        });
    </script>


    {% if site_config and site_config.bottem_ads_script %}
    <div id="_adBottom">
        {{site_config.bottem_ads_script|safe}}
    </div>
    {% endif %} 
    
     <!-- new added back to top btn -->
    <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
</body>

</html>