{% if site_config.ads_script %}
<div class="container">
    <div class="ad-container">
        {{site_config.ads_script|safe}}
    </div>
</div>
{% endif %}
<div class="content-area2v">
    <div class="container2v">
        {% if container.title %}<h1>{{container.title}}</h1>{% endif %}
        <section>{{container.content|safe}}</section>
    </div>
</div>
{% if site_config.ads_script %}
<div class="container">
    <div class="ad-container">
        {{site_config.ads_script|safe}}
    </div>
</div>
{% endif %}