{% load static helping_filter %} 
{% if instance %}
<div class="container">
    <div class="cat-area">
        <div class="cat-list">
            <ul >
                <li>
                    <a href="javascript:void(0)" data-tab="tab1" class="tab-link active">Popular</a>
                </li>
                <li>
                    <a href="javascript:void(0)" data-tab="tab2" class="tab-link">New</a>
                </li>
                {% if top50 %}
                <li>
                    <a href="javascript:void(0)" data-tab="tab3" class="tab-link">Top 50</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if site_config.ads_script %}
    <div class="container">
        <div class="ad-container">
            {{site_config.ads_script|safe}}
        </div>
    </div>
    {% endif %}
    <div class="tab-pane">
        <div class="tab-panel active" id="tab1">
            <input id="popularRingtoneGetUrl" type="hidden" value="{% url 'popular_ringtone' %}"/>
            <div class="ringtone-area" id="popularRingtone">
                {% for item1 in popular_ringtones %}
                <div class="ringtone-player">
                    <div class="play-btn">
                        <i class="fa fa-play-circle"></i>
                        <i class="fa fa-snowflake-o"></i>
                        <span class="track">
                            <audio id="audio" controls preload="none">
                                {% if item1 and item1.android_ringtone_file %}
                                <source src="{{item1.android_ringtone_file.url}}" type="audio/mpeg">
                                {% elif item1 and item1.iphone_ringtone_file %}
                                <source src="{{item1.iphone_ringtone_file.url}}" type="audio/x-m4r">
                                {% endif %}
                            </audio>
                        </span>
                    </div>
                    <div class="ringtone-info">
                        <div class="categoryName"><a href="{{item1.category.page.get_public_url}}">{{item1.category.name}}</a>
                        </div>
                        <div class="ringtoneName">
                            <h2><a href="{{item1.page.get_public_url}}">{{item1.name}}</a></h2>
                        </div>
                        <div class="download-info"><b>{{item1.download_count|number_system}}</b> - Downloads</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="loadm">
                <a href="javascript:void(0)" id="loadMorePopularRingtone"> Load More</a>
                <img src="{% static 'loading.gif' %}" id="loading" />
            </div>
        </div>
        <div class="tab-panel" id="tab2">
            <input id="newRingtoneGetUrl" type="hidden" value="{% url 'new_ringtone' %}"/>
            <div class="ringtone-area" id="newRingtone">
                {% for item2 in new_ringtones %}
                <div class="ringtone-player">
                    <div class="play-btn">
                        <i class="fa fa-play-circle"></i>
                        <i class="fa fa-snowflake-o"></i>
                        <span class="track">
                            <audio id="audio" controls preload="none">
                                {% if item2 and item2.android_ringtone_file %}
                                <source src="{{item2.android_ringtone_file.url}}" type="audio/mpeg">
                                {% elif item2 and item2.iphone_ringtone_file %}
                                <source src="{{item2.iphone_ringtone_file.url}}" type="audio/x-m4r">
                                {% endif %}
                            </audio>
                        </span>
                    </div>
                    <div class="ringtone-info">
                        <div class="categoryName"><a href="{{item2.category.page.get_public_url}}">{{item2.category.name}}</a>
                        </div>
                        <div class="ringtoneName">
                            <h2><a href="{{item2.page.get_public_url}}">{{item2.name}}</a></h2>
                        </div>
                        <div class="download-info"><b>{{item2.download_count|number_system}}</b> - Downloads</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="loadm ">
                <a href="javascript:void(0)" id="loadMoreNewRingtone"> Load More</a>
                <img src="{% static 'loading.gif' %" id="loading" />
            </div>
        </div>
        {% if top50 %}
        <div class="tab-panel" id="tab3">
            <input id="top50RingtoneGetUrl" type="hidden" value="{% url 'top_50_ringtone' %}"/>
            <div class="ringtone-area" id="top50Ringtone">
                {% for item3 in top50 %}
                <div class="ringtone-player">
                    <div class="play-btn">
                        <i class="fa fa-play-circle"></i>
                        <i class="fa fa-snowflake-o"></i>
                        <span class="track">
                            <audio id="audio" controls preload="none">
                                {% if item3 and item3.ringtone.android_ringtone_file %}
                                <source src="{{item3.ringtone.android_ringtone_file.url}}" type="audio/mpeg">
                                {% elif item3 and item3.iphone_ringtone_file %}
                                <source src="{{item3.ringtone.iphone_ringtone_file.url}}" type="audio/x-m4r">
                                {% endif %}
                            </audio>
                        </span>
                    </div>
                    <div class="ringtone-info">
                        <div class="categoryName">
                            <a href="{{item3.ringtone.category.page.get_public_url}}">{{item3.ringtone.category.name}}</a>
                        </div>
                        <div class="ringtoneName">
                            <h2><a href="{{item3.ringtone.page.get_public_url}}">{{item3.ringtone.name}}</a></h2>
                        </div>
                        <div class="download-info"><b>{{item3.ringtone.download_count|number_system}}</b> - Downloads</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="loadm">
                <a href="javascript:void(0)" id="loadMoreTop50Ringtone"> Load More</a>
                <img src="{% static 'loading.gif' %" id="loading" />
            </div>
        </div>
        {% endif %}
    </div>
    {% if site_config.ads_script %}
    <div class="container">
        <div class="ad-container">
            {{site_config.ads_script|safe}}
        </div>
    </div>
    {% endif %}
</div>
{% endif %}