{% load cms_tags menu_tags sekizai_tags static helping_filter %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no"> {% if site_config and site_config.favicon.url %}
    <link rel="shortcut icon" href="{{site_config.favicon.url}}" type="image/x-icon"> {% endif %}

    <!-- ################################################################################################################ -->
    <!-- All meta tag for current site -->
    {% render_block "og_twitter_tag" %} {% include "metatag.html" %} {% render_block "ringtone_tag" %} {% render_block "category_tag" %} {% if seo and seo.home_page_meta_tag and "Home" in request|get_title %}{{seo.home_page_meta_tag|safe}}{% endif %}
    <!-- All meta tag for current site -->
    <!-- ################################################################################################################ -->

    <link rel="stylesheet" href="{% static 'style.css' %}">    

    <title>
        {% if query %} {{query}} {% endif %} » {% if site_config %}{{site_config.site_title}}{% endif %}
    </title>

    {% render_block "css" %} {% if "Home" in request.current_page.get_menu_title %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebSite",
            "name": "RingtoneFly",
            "url": "https://ringtonefly.co",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.ringtonefly.co/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
    {% endif %}
</head>

<body>
    {% cms_toolbar %} {% include "navbar/main.html" %} {% include "brandcamps.html" %}


    <div class="container" id="searchContainer">
        <div class="sresult">
            <div class="result">
                {% if query %}
                <p>Search result for : <span id="searchQuery">{{query}}</span></p>
                {% endif %}
            </div>
        </div>

        {% if site_config.ads_script %}
        <div class="container">
            <div class="ad-container">
                {{site_config.ads_script|safe}}
            </div>
        </div>
        {% endif %} {% if ringtones %}
        <div class="ringtone-area">
            {% for ringtone in ringtones %}
            <div class="ringtone-player">
                <div class="play-btn">
                    <i class="fa fa-play-circle"></i>
                    <i class="fa fa-snowflake-o"></i>
                    <span class="track">
                        <audio id="audio" controls>
                            {% if ringtone.android_ringtone_file %}
                            <source src="{{ringtone.android_ringtone_file.url}}" type="audio/mpeg">
                            {% elif ringtone and ringtone.iphone_ringtone_file %}
                            <source src="{{ringtone.iphone_ringtone_file.url}}" type="audio/x-m4r">
                            {% endif %}
                        </audio>
                    </span>
                </div>
                <div class="ringtone-info">
                    <div class="categoryName"><a href="{{ringtone.category.page.get_public_url}}">{{ringtone.category.name}}</a>
                    </div>
                    <div class="ringtoneName">
                        <h2><a href="{{ringtone.page.get_public_url}}">{{ringtone.name}}</a></h2>
                    </div>
                    <div class="download-info"><b>{{ringtone.download_count|number_system}}</b> - Downloads</div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="ringtone-area">
            <h1>Not found!</h1>
        </div>
        {% endif %}

        <!-- Ad -->
        {% if site_config.ads_script %}
        <div class="container">
            <div class="ad-container">
                {{site_config.ads_script|safe}}
            </div>
        </div>
        {% endif %}
    </div>


    {% include "footer.html" %} {% render_block "js" %}
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'all.js' %}"></script>
    <script src="{% static 'load.js' %}"></script>   
    <script src="{% static 'audio.js' %}"></script>

    {% if site_config and site_config.bottem_ads_script %}
    <div id="_adBottom">
        {{site_config.bottem_ads_script|safe}}
    </div>
    {% endif %} {% if site_config and site_config.analytics_id %}
    <!-- Google Analytics -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{site_config.analytics_id}}', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
</body>

</html>