{% load static helping_filter %}
<div class="container3">
    <div class="post-in-popular">
        <h2 class="pop">Related Ringtone</h2>
        <input id="singleRingtoneGetUrl" type="hidden" value="{% url 'individual_ringtone' %}"/>
        <div class="ringtone-area" id="singlePopularRingtone">
        </div>
    </div>
    <div class="loadm">
        <a href="javascript:void(0)" id="loadMoreSinglePopularRingtone"> Load More</a>
        <img src="{% static 'loading.gif' %}" id="loading" />
    </div>
    <input id="currentRingtoneGetSlug" type="hidden" value="{{ request.current_page.get_slug }}"/>
</div>