{% load helping_filter sekizai_tags %}
{% if ringtone %}
{% addtoblock "meta_keywords_tag" %}{{request|convert_into_tag}}{% endaddtoblock %}
{% addtoblock "meta_description_tag" %}{{ringtone.description|safe}}{% endaddtoblock %}

<div class="container3">
    {% if site_config.ads_script %}
    <div class="container">
        <div class="ad-container">
            {{site_config.ads_script|safe}}
        </div>
    </div>
    {% endif %}
    <div class="post-ringtone-area flex center">
        <div class="post-ringtone-player">
            <div class="post-ringtone-title">
                <h1>{{ringtone}}</h1>
            </div>
            <input type="hidden" id="ringtone_id" value="{{ringtone.pk}}">
            <input type="hidden" id="incrementUrl" value="{% url 'rigntone_incress_download' %}">
            <input type="hidden" id="reactUrl" value="{% url 'react' %}">
            <script>
                "{% if ringtone.android_ringtone_file %}"
                const audio = new Audio("{{ringtone.android_ringtone_file.url}}");
                "{% endif %}"
            </script>
            <div class="audio-player">
                <div class="controls">
                    <div class="play-container">
                        <div class="toggle-play flex center">
                            <div class="play-btn">
                                <i class="fa fa-play-circle"></i>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="progress"></div>
                    </div>

                    <div class="time flex space-between">
                        <div class="current">0:00</div>
                        <div class="length"></div>
                    </div>
                </div>
            </div>
            <div class="player-s-d-info flex space-between">
                <div class="share">
                    <div class="share-btn">
                        <a href="javascript:void(0)"><i class="fa fa-share"></i></a>
                    </div>
                </div>

                <div class="like">
                    <div class="like-data flex vcenter"><i class="{{request|convert_react_class:ringtone.pk}}"
                            aria-hidden="true" style="font-size:25px;" id="likeCount"> {{ringtone.like_count}}</i>
                    </div>
                </div>

                <div class="download">
                    <div class="download-data flex vcenter"><i class="fa fa-download" style="font-size:25px;"
                            id="downloadCount"> {{ringtone.download_count}}</i></div>
                </div>
            </div>
        </div>
    </div>
    {% if site_config.ads_script %}
    <div class="container">
        <div class="ad-container">
            {{site_config.ads_script|safe}}
        </div>
    </div>
    {% endif %}
    <div class="download_info flex center">
        <div class="ringtone-download">
            {% if ringtone.android_ringtone_file %}
            <div class="download-btn-mp3">
                <a href="javascript:void(0)" id="downloadRingtone">Download for Mp3 (Android)</a>
            </div>
            <input type="hidden" id="ringtone_url" value="{{ringtone.android_ringtone_file.url}}">
            {% endif %}
            {% if ringtone.iphone_ringtone_file %}
            <div class="download-btn-m4r">
                <a href="javascript:void(0)" id="downloadRingtone">Download for M4r (iPhone)</a>
            </div>
            <input type="hidden" id="ringtone_url" value="{{ringtone.iphone_ringtone_file.url}}">
            {% endif %}
        </div>
    </div>
    {% if site_config.ads_script %}
    <div class="container">
        <div class="ad-container">
            {{site_config.ads_script|safe}}
        </div>
    </div>
    {% endif %}
</div>

<div aria-hidden='true' class='modale'>
    <div class='modal-dialog'>
        <div class="close-share">
            <i class="fa fa-times"></i>
        </div>
        {% if site_config.ads_script %}
        <div class="container">
            <div class="ad-container">
                {{site_config.ads_script|safe}}
            </div>
        </div>
        {% endif %}
        <div class='modal-body flex vcenter center'>
            <ul class="flex">
                <li><a href="whatsapp://send?text={{request.build_absolute_uri}}" rel='noopener' target='_blank'><i
                            class="fa fa-whatsapp"></i></a></li>
                <li><a href='https://facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}' rel='noopener'
                        target='_blank'><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet/?text={{request.build_absolute_uri}}" rel='noopener'
                        target='_blank'><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="https://telegram.me/share/url?text={{request.build_absolute_uri}}" rel='noopener'
                        target='_blank'><i class="fa fa-telegram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
{% addtoblock "og_twitter_tag" %}
<meta name="title" content="{{ringtone.name}}">

<!-- open grapgh meta tag -->
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ringtone.name|safe}}" />
<meta property="og:description" content="{{ringtone.description|safe}}" />
<meta property="og:url" content="{{request.build_absolute_uri|safe}}" />
{% if ringtone.image %}<meta property="og:image" content="{{ringtone.image.url|safe}}" />{% endif %}
<meta property="og:type" content="website" />

<!-- twitter meta tag -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ringtone.name|safe}}" />
<meta name="twitter:description" content="{{ringtone.description|safe}}" />
<meta name="twitter:url" content="{{request.build_absolute_uri|safe}}" />
{% if ringtone.image %}<meta property="twitter:image" content="{{ringtone.image.url|safe}}" />{% endif %}
{% endaddtoblock %}
{% endif %}